* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jacquard+24&display=swap");

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Serif Display";
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  inset: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 24%, rgb(69, 68, 68) 100%) no-repeat;
}
body {
  color: #fff;
}
.temp p {
  font-size: 70px;
  margin: 0;
  text-align: left;
  line-height: 1;
  background: -webkit-linear-gradient(90deg, #ddd0d0, #656363);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.navbar p {
  font-size: 30px;
  cursor: pointer;
  line-height: 1.5;
  color: #000;
}

.res-nav {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar p {
    font-size: 25px;
  }

  .navbar {
    display: none;
  }
  .res-nav {
    display: flex;
    position: fixed;
    width: 100%;

    margin-right: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 2;

    row-gap: 5px;
    align-items: center;
    flex-direction: row;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
  .res-nav .line {
    width: 27px;
    height: 3px;
    background: #ffffff;
  }
}

.img-container {
  display: flex;
  flex-direction: column;
  height: 2660px;
  /*  scroll-snap-align: center; */
}

.img-container img {
  width: 100%;
  height: 100%;
}

.navlinks {
  display: flex;
  position: absolute;
  row-gap: 30px;
  text-transform: uppercase;
  font-size: 25px;
  top: 50px;
  right: 20px;
  flex-direction: column;
  z-index: 1;
  background: #fff;
  color: #000000a2;
  border-radius: 10px;
  padding: 3rem 2rem;
  user-select: none;
  justify-content: center;
  align-items: center;
}
.navlinks a {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000a2;
}
.navlinks p {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.footer {
  background: #ffffff;
  padding: 2rem 2rem;
  z-index: 99999999999;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.footer h1 {
  font-family: monospace;
  font-size: 25px;
  text-align: center;
}

.insta {
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.navlinks button {
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  background: #008cff;
  box-shadow: 0 0 15px #008cff;
}

.signup {
  height: 100vh;
  padding: 3rem 2rem;
  width: 100%;
  margin: auto;
  color: #fff;
  text-align: center;
  background: linear-gradient(45deg, rgb(20, 22, 23) 0%, rgb(33, 39, 42) 100%) no-repeat;
}
.form_container {
  background: linear-gradient(45deg, rgb(20, 22, 23) 0%, rgb(33, 39, 42) 100%) no-repeat;
  border-radius: 20px;
  padding: 2rem 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  width: 80%;
  margin: 100px auto;
}
.form_container h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Poppins";
  background: -webkit-linear-gradient(45deg, #eee, #8d8383);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
}
form input {
  padding: 7px 10px;
  border: 0;
  outline: 0;
  border-radius: 3px;
  color: #000000;
  font-size: 15px;
  background: rgb(210, 208, 208);
  box-shadow: 0 5px 20px 1px rgb(0, 0, 0);
  width: 100%;
}
form label {
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 17px;
}
form button {
  margin-top: 30px;
  width: 100%;
  padding: 10px 10px;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 7px;
  background: #04df75;
  box-shadow: 0 0 20px -2px #04df75;
  cursor: pointer;
  color: #000000;
}
form button:hover {
  box-shadow: 0 0 30px -2px #04df75;
}
form button:active {
  box-shadow: 0 0 30px -2px #04df75;
}
